In [5]:
import pandas as pd
dataset=pd.read_csv(r"C:\Users\muhap\OneDrive\Desktop\Dta assignment\metadata (2).csv")
dataset

,rarespecies_id,eol_content_id,eol_page_id,kingdom,class,order,family,genus,species,sciName,common,file_name,phylum
0,dc48f2ce-4feb-4ef7-b2a2-c3c3f42bf19b,28657539,491832,Animalia,Insecta,Hymenoptera,Formicidae,Adetomyrma,venatrix,Adetomyrma venatrix,dracula ant,dataset/Animalia-Arthropoda-Insecta-Hymenopter...,Arthropoda
1,7faca96a-54e6-4c80-b9e4-77ab126d904a,21232818,1033999,Animalia,Insecta,Odonata,Gomphidae,Hemigomphus,theischingeri,Hemigomphus theischingeri,Rainforest Vicetail,dataset/Animalia-Arthropoda-Insecta-Odonata-Go...,Arthropoda
2,16b767da-7b35-4f76-8ef7-0835148b760f,29911923,132324,Animalia,Insecta,Odonata,Platystictidae,Protosticta,sanguinostigma,Protosticta sanguinostigma,red spot reedtail,dataset/Animalia-Arthropoda-Insecta-Odonata-Pl...,Arthropoda
3,32e472b8-722a-4983-8fe5-a0605e330c1b,29856158,485420,Animalia,Insecta,Hymenoptera,Formicidae,Pheidole,elecebra,Pheidole elecebra,ant,dataset/Animalia-Arthropoda-Insecta-Hymenopter...,Arthropoda
4,81e2349d-0634-4f34-8b31-384f1d1d81f2,29372149,354871,Animalia,Insecta,Coleoptera,Cerambycidae,Macrodontia,cervicornis,Macrodontia cervicornis,Giant Jawed Sawyer,dataset/Animalia-Arthropoda-Insecta-Coleoptera...,Arthropoda
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11978,c74baf60-4a1d-4845-bce6-ba486548766d,2751830,46473744,Animalia,Bivalvia,Cardiida,Cardiidae,Tridacna,gigas,Tridacna gigas,Gigas Giant Clam,dataset/Animalia-Mollusca-Bivalvia-Cardiida-Ca...,Mollusca
11979,b8c44794-14bf-4a3d-ad7f-cd4ea00a21e7,22914588,46473747,Animalia,Bivalvia,Cardiida,Cardiidae,Tridacna,squamosa,Tridacna squamosa,Fluted Giant Clam,dataset/Animalia-Mollusca-Bivalvia-Cardiida-Ca...,Mollusca
11980,34be9673-fa25-4d7d-9022-2740b6f34fcb,20298397,4792502,Animalia,Gastropoda,Lepetellida,Haliotidae,Haliotis,roei,Haliotis roei,Roe's abalone,dataset/Animalia-Mollusca-Gastropoda-Lepetelli...,Mollusca
11981,a629ccce-bda5-486a-a39f-b805ec70fd52,21566265,449459,Animalia,Bivalvia,Unionida,Unionidae,Potamilus,amphichaenus,Potamilus amphichaenus,Texas heelsplitter,dataset/Animalia-Mollusca-Bivalvia-Unionida-Un...,Mollusca
11982,f56af9c5-72b9-4252-9e61-00e32bf08c91,12835846,46454284,Animalia,Gastropoda,Neogastropoda,Conidae,Conus,mercator,Conus mercator,Merchant Cone,dataset/Animalia-Mollusca-Gastropoda-Neogastro...,Mollusca

In [6]:
#deleting columns that are not needed
dataset.drop(['rarespecies_id','eol_content_id','eol_page_id','kingdom','sciName','common','file_name'],axis=1, inplace=True)
dataset

,class,order,family,genus,species,phylum
0,Insecta,Hymenoptera,Formicidae,Adetomyrma,venatrix,Arthropoda
1,Insecta,Odonata,Gomphidae,Hemigomphus,theischingeri,Arthropoda
2,Insecta,Odonata,Platystictidae,Protosticta,sanguinostigma,Arthropoda
3,Insecta,Hymenoptera,Formicidae,Pheidole,elecebra,Arthropoda
4,Insecta,Coleoptera,Cerambycidae,Macrodontia,cervicornis,Arthropoda
...,...,...,...,...,...,...
11978,Bivalvia,Cardiida,Cardiidae,Tridacna,gigas,Mollusca
11979,Bivalvia,Cardiida,Cardiidae,Tridacna,squamosa,Mollusca
11980,Gastropoda,Lepetellida,Haliotidae,Haliotis,roei,Mollusca
11981,Bivalvia,Unionida,Unionidae,Potamilus,amphichaenus,Mollusca
11982,Gastropoda,Neogastropoda,Conidae,Conus,mercator,Mollusca

In [7]:
#deleting duplicates directly on the original dataset without creating a new one
dataset.drop_duplicates(inplace=True)
dataset

,class,order,family,genus,species,phylum
0,Insecta,Hymenoptera,Formicidae,Adetomyrma,venatrix,Arthropoda
1,Insecta,Odonata,Gomphidae,Hemigomphus,theischingeri,Arthropoda
2,Insecta,Odonata,Platystictidae,Protosticta,sanguinostigma,Arthropoda
3,Insecta,Hymenoptera,Formicidae,Pheidole,elecebra,Arthropoda
4,Insecta,Coleoptera,Cerambycidae,Macrodontia,cervicornis,Arthropoda
...,...,...,...,...,...,...
11775,Gastropoda,Neogastropoda,Conidae,Conus,mercator,Mollusca
11776,Gastropoda,Lepetellida,Haliotidae,Haliotis,roei,Mollusca
11777,Bivalvia,Cardiida,Cardiidae,Tridacna,squamosa,Mollusca
11788,Gastropoda,Stylommatophora,Zonitidae,Zonites,algirus,Mollusca
11798,Bivalvia,Cardiida,Cardiidae,Tridacna,gigas,Mollusca

In [8]:
#deleting empty rows
dataset.dropna(inplace=True)
dataset

,class,order,family,genus,species,phylum
0,Insecta,Hymenoptera,Formicidae,Adetomyrma,venatrix,Arthropoda
1,Insecta,Odonata,Gomphidae,Hemigomphus,theischingeri,Arthropoda
2,Insecta,Odonata,Platystictidae,Protosticta,sanguinostigma,Arthropoda
3,Insecta,Hymenoptera,Formicidae,Pheidole,elecebra,Arthropoda
4,Insecta,Coleoptera,Cerambycidae,Macrodontia,cervicornis,Arthropoda
...,...,...,...,...,...,...
11775,Gastropoda,Neogastropoda,Conidae,Conus,mercator,Mollusca
11776,Gastropoda,Lepetellida,Haliotidae,Haliotis,roei,Mollusca
11777,Bivalvia,Cardiida,Cardiidae,Tridacna,squamosa,Mollusca
11788,Gastropoda,Stylommatophora,Zonitidae,Zonites,algirus,Mollusca
11798,Bivalvia,Cardiida,Cardiidae,Tridacna,gigas,Mollusca

In [9]:
#resets the index of the table to be in a numerical order 
#drops the index column with previous index value 
dataset.reset_index(drop=True, inplace=True)
dataset

,class,order,family,genus,species,phylum
0,Insecta,Hymenoptera,Formicidae,Adetomyrma,venatrix,Arthropoda
1,Insecta,Odonata,Gomphidae,Hemigomphus,theischingeri,Arthropoda
2,Insecta,Odonata,Platystictidae,Protosticta,sanguinostigma,Arthropoda
3,Insecta,Hymenoptera,Formicidae,Pheidole,elecebra,Arthropoda
4,Insecta,Coleoptera,Cerambycidae,Macrodontia,cervicornis,Arthropoda
...,...,...,...,...,...,...
395,Gastropoda,Neogastropoda,Conidae,Conus,mercator,Mollusca
396,Gastropoda,Lepetellida,Haliotidae,Haliotis,roei,Mollusca
397,Bivalvia,Cardiida,Cardiidae,Tridacna,squamosa,Mollusca
398,Gastropoda,Stylommatophora,Zonitidae,Zonites,algirus,Mollusca
399,Bivalvia,Cardiida,Cardiidae,Tridacna,gigas,Mollusca

In [10]:
column_entries=dataset['phylum'].value_counts()
column_entries

phylum
Chordata         332
Arthropoda        32
Cnidaria          27
Mollusca           7
Echinodermata      2
Name: count, dtype: int64

In [11]:
chordata=dataset[dataset['phylum']=='Chordata']
chordata

,class,order,family,genus,species,phylum
32,Reptilia,Testudines,Geoemydidae,Pangshura,sylhetensis,Chordata
33,Amphibia,Caudata,Cryptobranchidae,Andrias,japonicus,Chordata
34,Aves,Passeriformes,Turdidae,Myadestes,obscurus,Chordata
35,Mammalia,Primates,Indriidae,Propithecus,deckenii,Chordata
36,Aves,Passeriformes,Fringillidae,Drepanis,coccinea,Chordata
...,...,...,...,...,...,...
359,Reptilia,Crocodilia,Alligatoridae,Melanosuchus,niger,Chordata
360,Mammalia,Carnivora,Mustelidae,Aonyx,capensis,Chordata
361,Chondrichthyes,Carcharhiniformes,Carcharhinidae,Carcharhinus,amblyrhynchos,Chordata
362,Aves,Apodiformes,Trochilidae,Lophornis,chalybeus,Chordata
363,Actinopterygii,Cyprinodontiformes,Goodeidae,Zoogoneticus,tequila,Chordata

In [12]:
#adding organisms to the dataframe with Echinodermata as the phylum name
new_data=[
    ["Asteroidea", "Forcipulatida", "Asteriidae", "Asterias", "Asterias rubens", "Echinodermata"],
    ["Echinoidea", "Clypeasteroida", "Clypeasteridae", "Clypeaster", "Clypeaster subdepressus", "Echinodermata"],
    ["Ophiuroidea", "Ophiurida", "Ophiuridae", "Ophiura", "Ophiura ophiura", "Echinodermata"],
    ["Crinoidea", "Comatulida", "Antedonidae", "Antedon", "Antedon mediterranea", "Echinodermata"],
    ["Holothuroidea", "Synallactida", "Synallactidae", "Parastichopus", "Parastichopus californicus", "Echinodermata"],
    ["Echinoidea", "Arbacioida", "Arbaciidae", "Arbacia", "Arbacia punctulata", "Echinodermata"],
    ["Asteroidea", "Valvatida", "Asterinidae", "Patiria", "Patiria miniata", "Echinodermata"],
    ["Ophiuroidea", "Ophiurida", "Ophiothrichidae", "Ophiothrix", "Ophiothrix fragilis", "Echinodermata"],
    ["Holothuroidea", "Dendrochirotida", "Cucumariidae", "Cucumaria", "Cucumaria frondosa", "Echinodermata"],
    ["Asteroidea", "Spinulosida", "Asterinidae", "Asterina", "Asterina gibbosa", "Echinodermata"],
    ["Asteroidea", "Velatida", "Pterasteridae", "Pteraster", "Pteraster militaris", "Echinodermata"],
    ["Echinoidea", "Diadematoida", "Diadematidae", "Diadema", "Diadema setosum", "Echinodermata"],
    ["Ophiuroidea", "Ophiacanthida", "Ophiacanthidae", "Ophiacantha", "Ophiacantha bidentata", "Echinodermata"],
    ["Holothuroidea", "Aspidochirotida", "Holothuriidae", "Holothuria", "Holothuria edulis", "Echinodermata"],
    ["Asteroidea", "Paxillosida", "Luidiidae", "Luidia", "Luidia clathrata", "Echinodermata"],
    ["Echinoidea", "Spatangoida", "Brissidae", "Brissus", "Brissus unicolor", "Echinodermata"],
    ["Crinoidea", "Cyrtocrinida", "Bathycrinidae", "Bathycrinus", "Bathycrinus aldrichianus", "Echinodermata"],
    ["Ophiuroidea", "Euryalida", "Gorgonocephalidae", "Gorgonocephalus", "Gorgonocephalus eucnemis", "Echinodermata"]
]

new_dataset =pd.DataFrame(new_data, columns=dataset.columns)
dataset.iloc[32:32+len(new_dataset)] = new_dataset

dataset.to_csv('updated_dataset.csv', index=False)
dataset.iloc[32:52]

,class,order,family,genus,species,phylum
32,Asteroidea,Forcipulatida,Asteriidae,Asterias,Asterias rubens,Echinodermata
33,Echinoidea,Clypeasteroida,Clypeasteridae,Clypeaster,Clypeaster subdepressus,Echinodermata
34,Ophiuroidea,Ophiurida,Ophiuridae,Ophiura,Ophiura ophiura,Echinodermata
35,Crinoidea,Comatulida,Antedonidae,Antedon,Antedon mediterranea,Echinodermata
36,Holothuroidea,Synallactida,Synallactidae,Parastichopus,Parastichopus californicus,Echinodermata
37,Echinoidea,Arbacioida,Arbaciidae,Arbacia,Arbacia punctulata,Echinodermata
38,Asteroidea,Valvatida,Asterinidae,Patiria,Patiria miniata,Echinodermata
39,Ophiuroidea,Ophiurida,Ophiothrichidae,Ophiothrix,Ophiothrix fragilis,Echinodermata
40,Holothuroidea,Dendrochirotida,Cucumariidae,Cucumaria,Cucumaria frondosa,Echinodermata
41,Asteroidea,Spinulosida,Asterinidae,Asterina,Asterina gibbosa,Echinodermata
42,Asteroidea,Velatida,Pterasteridae,Pteraster,Pteraster militaris,Echinodermata
43,Echinoidea,Diadematoida,Diadematidae,Diadema,Diadema setosum,Echinodermata
44,Ophiuroidea,Ophiacanthida,Ophiacanthidae,Ophiacantha,Ophiacantha bidentata,Echinodermata
45,Holothuroidea,Aspidochirotida,Holothuriidae,Holothuria,Holothuria edulis,Echinodermata
46,Asteroidea,Paxillosida,Luidiidae,Luidia,Luidia clathrata,Echinodermata
47,Echinoidea,Spatangoida,Brissidae,Brissus,Brissus unicolor,Echinodermata
48,Crinoidea,Cyrtocrinida,Bathycrinidae,Bathycrinus,Bathycrinus aldrichianus,Echinodermata
49,Ophiuroidea,Euryalida,Gorgonocephalidae,Gorgonocephalus,Gorgonocephalus eucnemis,Echinodermata
50,Reptilia,Squamata,Gekkonidae,Phelsuma,standingi,Chordata
51,Aves,Procellariiformes,Procellariidae,Procellaria,parkinsoni,Chordata

In [13]:
#adding more organisms to the dataframe with Mollusca as the phylum name
new_organisms=[
    ["Bivalvia", "Ostreoida", "Ostreidae", "Crassostrea", "gigas", "Mollusca"],
    ["Bivalvia", "Veneroida", "Veneridae", "Mercenaria", "mercenaria", "Mollusca"],
    ["Gastropoda", "Pulmonata", "Limacidae", "Limax", "maximus", "Mollusca"],
    ["Gastropoda", "Neogastropoda", "Buccinidae", "Busycon", "carica", "Mollusca"],
    ["Bivalvia", "Myida", "Myidae", "Mytilus", "edulis", "Mollusca"],
    ["Cephalopoda", "Octopoda", "Octopodidae", "Octopus", "vulgaris", "Mollusca"],
    ["Gastropoda", "Heterobranchia", "Stylommatophora", "Eobrachycera", "muscosa", "Mollusca"],
    ["Bivalvia", "Pteriida", "Pteriidae", "Pinctada", "margaritifera", "Mollusca"],
    ["Gastropoda", "Caenogastropoda", "Fasciolariidae", "Fasciolaria", "tulipa", "Mollusca"],
    ["Gastropoda", "Caenogastropoda", "Cypraeidae", "Cypraea", "tigris", "Mollusca"],
    ["Cephalopoda", "Decapodiformes", "Loliginidae", "Loligo", "vulgaris", "Mollusca"],
    ["Gastropoda", "Cerithioidea", "Thiaridae", "Thiara", "granifera", "Mollusca"],
    ["Bivalvia", "Veneroida", "Donacidae", "Donax", "variabilis", "Mollusca"],
    ["Gastropoda", "Basommatophora", "Planorbidae", "Planorbarius", "corneus", "Mollusca"],
    ["Cephalopoda", "Nautilida", "Nautilidae", "Nautilus", "pompilius", "Mollusca"],
    ["Bivalvia", "Pectinida", "Pectinidae", "Pecten", "maximus", "Mollusca"],
    ["Gastropoda", "Opisthobranchia", "Aplysiidae", "Aplysia", "californica", "Mollusca"],
    ["Bivalvia", "Cardiida", "Cardiidae", "Cardium", "edule", "Mollusca"],
    ["Gastropoda", "Caenogastropoda", "Neritidae", "Nerita", "atramentosa", "Mollusca"]
]
# Adding the new organisms starting from index 50
dataset.iloc[50:50+len(new_organisms), :] = new_organisms
dataset.to_csv('updated_dataset.csv', index=False)


dataset.iloc[50:70]

,class,order,family,genus,species,phylum
50,Bivalvia,Ostreoida,Ostreidae,Crassostrea,gigas,Mollusca
51,Bivalvia,Veneroida,Veneridae,Mercenaria,mercenaria,Mollusca
52,Gastropoda,Pulmonata,Limacidae,Limax,maximus,Mollusca
53,Gastropoda,Neogastropoda,Buccinidae,Busycon,carica,Mollusca
54,Bivalvia,Myida,Myidae,Mytilus,edulis,Mollusca
55,Cephalopoda,Octopoda,Octopodidae,Octopus,vulgaris,Mollusca
56,Gastropoda,Heterobranchia,Stylommatophora,Eobrachycera,muscosa,Mollusca
57,Bivalvia,Pteriida,Pteriidae,Pinctada,margaritifera,Mollusca
58,Gastropoda,Caenogastropoda,Fasciolariidae,Fasciolaria,tulipa,Mollusca
59,Gastropoda,Caenogastropoda,Cypraeidae,Cypraea,tigris,Mollusca
60,Cephalopoda,Decapodiformes,Loliginidae,Loligo,vulgaris,Mollusca
61,Gastropoda,Cerithioidea,Thiaridae,Thiara,granifera,Mollusca
62,Bivalvia,Veneroida,Donacidae,Donax,variabilis,Mollusca
63,Gastropoda,Basommatophora,Planorbidae,Planorbarius,corneus,Mollusca
64,Cephalopoda,Nautilida,Nautilidae,Nautilus,pompilius,Mollusca
65,Bivalvia,Pectinida,Pectinidae,Pecten,maximus,Mollusca
66,Gastropoda,Opisthobranchia,Aplysiidae,Aplysia,californica,Mollusca
67,Bivalvia,Cardiida,Cardiidae,Cardium,edule,Mollusca
68,Gastropoda,Caenogastropoda,Neritidae,Nerita,atramentosa,Mollusca
69,Aves,Anseriformes,Anatidae,Somateria,fischeri,Chordata

In [14]:
#shuffling the dataset and returning all (100%) of the rows but shuffled 
dataset= dataset.sample(frac=1)
dataset

,class,order,family,genus,species,phylum
41,Asteroidea,Spinulosida,Asterinidae,Asterina,Asterina gibbosa,Echinodermata
166,Reptilia,Squamata,Dactyloidae,Anolis,koopmani,Chordata
358,Aves,Anseriformes,Anatidae,Melanitta,fusca,Chordata
110,Chondrichthyes,Hexanchiformes,Hexanchidae,Notorynchus,cepedianus,Chordata
155,Mammalia,Artiodactyla,Bovidae,Oryx,dammah,Chordata
...,...,...,...,...,...,...
227,Reptilia,Squamata,Elapidae,Naja,siamensis,Chordata
94,Aves,Anseriformes,Anatidae,Hymenolaimus,malacorhynchos,Chordata
47,Echinoidea,Spatangoida,Brissidae,Brissus,Brissus unicolor,Echinodermata
343,Mammalia,Primates,Callitrichidae,Saguinus,leucopus,Chordata
176,Reptilia,Squamata,Lacertidae,Iberolacerta,bonnali,Chordata

In [15]:
#renumbering the row indices
dataset.reset_index(drop=True, inplace=True)
dataset

,class,order,family,genus,species,phylum
0,Asteroidea,Spinulosida,Asterinidae,Asterina,Asterina gibbosa,Echinodermata
1,Reptilia,Squamata,Dactyloidae,Anolis,koopmani,Chordata
2,Aves,Anseriformes,Anatidae,Melanitta,fusca,Chordata
3,Chondrichthyes,Hexanchiformes,Hexanchidae,Notorynchus,cepedianus,Chordata
4,Mammalia,Artiodactyla,Bovidae,Oryx,dammah,Chordata
...,...,...,...,...,...,...
395,Reptilia,Squamata,Elapidae,Naja,siamensis,Chordata
396,Aves,Anseriformes,Anatidae,Hymenolaimus,malacorhynchos,Chordata
397,Echinoidea,Spatangoida,Brissidae,Brissus,Brissus unicolor,Echinodermata
398,Mammalia,Primates,Callitrichidae,Saguinus,leucopus,Chordata
399,Reptilia,Squamata,Lacertidae,Iberolacerta,bonnali,Chordata

In [16]:
dataset.tail(10)

,class,order,family,genus,species,phylum
390,Mammalia,Primates,Cercopithecidae,Presbytis,thomasi,Chordata
391,Insecta,Orthoptera,Tettigoniidae,Saga,pedo,Arthropoda
392,Cephalopoda,Octopoda,Octopodidae,Octopus,vulgaris,Mollusca
393,Aves,Bucerotiformes,Bucerotidae,Berenicornis,comatus,Chordata
394,Aves,Anseriformes,Anatidae,Branta,ruficollis,Chordata
395,Reptilia,Squamata,Elapidae,Naja,siamensis,Chordata
396,Aves,Anseriformes,Anatidae,Hymenolaimus,malacorhynchos,Chordata
397,Echinoidea,Spatangoida,Brissidae,Brissus,Brissus unicolor,Echinodermata
398,Mammalia,Primates,Callitrichidae,Saguinus,leucopus,Chordata
399,Reptilia,Squamata,Lacertidae,Iberolacerta,bonnali,Chordata

In [17]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [18]:
# Apply Label Encoding to all categorical columns
label_encoder = LabelEncoder()

In [19]:
 #Identifying columns that need encoding
categorical_columns = ['class', 'order', 'family', 'genus', 'species',]

In [20]:
# Encoding each categorical column
for column in categorical_columns:
    dataset[column] = label_encoder.fit_transform(dataset[column])

In [21]:
dataset

     class  order  family  genus  species         phylum
0        4     96      19     31        3  Echinodermata
1       18     98      68     19      192       Chordata
2        5      3       9    183      142       Chordata
3        9     47     101    207       86       Chordata
4       16      8      28    220      113       Chordata
..     ...    ...     ...    ...      ...            ...
395     18     98      80    198      322       Chordata
396      5      3       9    152      219       Chordata
397     11     94      30     53        5  Echinodermata
398     16     80      36    276      203       Chordata
399     18     98     109    154       67       Chordata

[400 rows x 6 columns]

In [22]:
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn import model_selection

In [23]:
array = dataset.values
X = array[:, 0:5]
Y = array[:, 5]
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation =model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

In [24]:
seed = 42
scoring = 'accuracy'

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [26]:
models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
# print(models)
# evaluate each model in turn
results = []
names = []
for name, model in models:
        kfold = model_selection.KFold(n_splits=10, random_state=None)
        cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring=scoring)
        results.append(cv_results)
        names.append(name)
        msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
        print(msg)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LR: 0.781250 (0.075260)
LDA: 0.768750 (0.087500)
KNN: 0.721875 (0.049312)
CART: 0.965625 (0.040625)
NB: 0.831250 (0.085239)
SVM: 0.740625 (0.077875)