In [74]:
import pandas as pd
dataset=pd.read_csv(r"C:\Users\Simeon\Downloads\metadata.csv")
dataset

,rarespecies_id,eol_content_id,eol_page_id,kingdom,order,genus,species,sciName,common,family,class,phylum,file_name
0,75fd91cb-2881-41cd-88e6-de451e8b60e2,12853737,449393,Animalia,Unionida,Cyclonaias,tuberculata,Cyclonaias tuberculata,purple wartyback,Unionidae,Bivalvia,Mollusca,dataset/Animalia-Mollusca-Bivalvia-Unionida-Un...
1,28c508bc-63ff-4e60-9c8f-1934367e1528,20969394,793083,Animalia,Testudines,Pangshura,sylhetensis,Pangshura sylhetensis,Assam Roofed Turtle,Geoemydidae,Reptilia,Chordata,dataset/Animalia-Chordata-Reptilia-Testudines-...
2,00372441-588c-4af8-9665-29bee20822c0,28895411,319982,Animalia,Caudata,Andrias,japonicus,Andrias japonicus,Japanese Giant Salamander,Cryptobranchidae,Amphibia,Chordata,dataset/Animalia-Chordata-Amphibia-Caudata-Cry...
3,29cc6040-6af2-49ee-86ec-ab7d89793828,29658536,45510188,Animalia,Passeriformes,Myadestes,obscurus,Myadestes obscurus,'Oma'o,Turdidae,Aves,Chordata,dataset/Animalia-Chordata-Aves-Passeriformes-T...
4,94004bff-3a33-4758-8125-bf72e6e57eab,21252576,7250886,Animalia,Primates,Propithecus,deckenii,Propithecus deckenii,Van der Decken's Sifaka,Indriidae,Mammalia,Chordata,dataset/Animalia-Chordata-Mammalia-Primates-In...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11978,1fa96ea5-32fa-4a25-b8d2-fa99f6e2cb89,29734618,1011315,Animalia,Lagomorpha,Sylvilagus,transitionalis,Sylvilagus transitionalis,Coney,Leporidae,Mammalia,Chordata,dataset/Animalia-Chordata-Mammalia-Lagomorpha-...
11979,628bf2b4-6ecc-4017-a8e6-4306849e0cfc,29972861,1056842,Animalia,Testudines,Glyptemys,muhlenbergii,Glyptemys muhlenbergii,Bog Turtle,Emydidae,Reptilia,Chordata,dataset/Animalia-Chordata-Reptilia-Testudines-...
11980,0ecfdec9-b1cd-4d43-96fc-2f8889ec1ad9,30134195,52572074,Animalia,Myliobatiformes,Bathytoshia,centroura,Bathytoshia centroura,Roughtail Stingray,Dasyatidae,Chondrichthyes,Chordata,dataset/Animalia-Chordata-Chondrichthyes-Mylio...
11981,27fdb1e9-c5fb-459a-8b6a-6fb222b1c512,9474963,46559139,Animalia,Carnivora,Aonyx,capensis,Aonyx capensis,African Clawless Otter,Mustelidae,Mammalia,Chordata,dataset/Animalia-Chordata-Mammalia-Carnivora-M...
11982,54894a59-151f-4814-ac32-3a336841e58e,9465817,326525,Animalia,Primates,Eulemur,fulvus,Eulemur fulvus,Brown Lemur,Lemuridae,Mammalia,Chordata,dataset/Animalia-Chordata-Mammalia-Primates-Le...

In [75]:
#deleting columns that are not needed
dataset.drop(['rarespecies_id','eol_content_id','eol_page_id','kingdom','sciName','common','file_name'],axis=1, inplace=True)
dataset

,order,genus,species,family,class,phylum
0,Unionida,Cyclonaias,tuberculata,Unionidae,Bivalvia,Mollusca
1,Testudines,Pangshura,sylhetensis,Geoemydidae,Reptilia,Chordata
2,Caudata,Andrias,japonicus,Cryptobranchidae,Amphibia,Chordata
3,Passeriformes,Myadestes,obscurus,Turdidae,Aves,Chordata
4,Primates,Propithecus,deckenii,Indriidae,Mammalia,Chordata
...,...,...,...,...,...,...
11978,Lagomorpha,Sylvilagus,transitionalis,Leporidae,Mammalia,Chordata
11979,Testudines,Glyptemys,muhlenbergii,Emydidae,Reptilia,Chordata
11980,Myliobatiformes,Bathytoshia,centroura,Dasyatidae,Chondrichthyes,Chordata
11981,Carnivora,Aonyx,capensis,Mustelidae,Mammalia,Chordata
11982,Primates,Eulemur,fulvus,Lemuridae,Mammalia,Chordata

In [76]:
#deleting duplicates directly on the original dataset without creating a new one
dataset.drop_duplicates(inplace=True)
dataset

,order,genus,species,family,class,phylum
0,Unionida,Cyclonaias,tuberculata,Unionidae,Bivalvia,Mollusca
1,Testudines,Pangshura,sylhetensis,Geoemydidae,Reptilia,Chordata
2,Caudata,Andrias,japonicus,Cryptobranchidae,Amphibia,Chordata
3,Passeriformes,Myadestes,obscurus,Turdidae,Aves,Chordata
4,Primates,Propithecus,deckenii,Indriidae,Mammalia,Chordata
...,...,...,...,...,...,...
1600,Crocodilia,Melanosuchus,niger,Alligatoridae,Reptilia,Chordata
1655,Carnivora,Aonyx,capensis,Mustelidae,Mammalia,Chordata
1990,Carcharhiniformes,Carcharhinus,amblyrhynchos,Carcharhinidae,Chondrichthyes,Chordata
2093,Apodiformes,Lophornis,chalybeus,Trochilidae,Aves,Chordata
3714,Cyprinodontiformes,Zoogoneticus,tequila,Goodeidae,Actinopterygii,Chordata

In [77]:
#deleting empty rows
dataset.dropna(inplace=True)
dataset

,order,genus,species,family,class,phylum
0,Unionida,Cyclonaias,tuberculata,Unionidae,Bivalvia,Mollusca
1,Testudines,Pangshura,sylhetensis,Geoemydidae,Reptilia,Chordata
2,Caudata,Andrias,japonicus,Cryptobranchidae,Amphibia,Chordata
3,Passeriformes,Myadestes,obscurus,Turdidae,Aves,Chordata
4,Primates,Propithecus,deckenii,Indriidae,Mammalia,Chordata
...,...,...,...,...,...,...
1600,Crocodilia,Melanosuchus,niger,Alligatoridae,Reptilia,Chordata
1655,Carnivora,Aonyx,capensis,Mustelidae,Mammalia,Chordata
1990,Carcharhiniformes,Carcharhinus,amblyrhynchos,Carcharhinidae,Chondrichthyes,Chordata
2093,Apodiformes,Lophornis,chalybeus,Trochilidae,Aves,Chordata
3714,Cyprinodontiformes,Zoogoneticus,tequila,Goodeidae,Actinopterygii,Chordata

In [78]:
#resets the index of the table to be in a numerical order 
#drops the index column with previous index value 
dataset.reset_index(drop=True, inplace=True)
dataset

,order,genus,species,family,class,phylum
0,Unionida,Cyclonaias,tuberculata,Unionidae,Bivalvia,Mollusca
1,Testudines,Pangshura,sylhetensis,Geoemydidae,Reptilia,Chordata
2,Caudata,Andrias,japonicus,Cryptobranchidae,Amphibia,Chordata
3,Passeriformes,Myadestes,obscurus,Turdidae,Aves,Chordata
4,Primates,Propithecus,deckenii,Indriidae,Mammalia,Chordata
...,...,...,...,...,...,...
395,Crocodilia,Melanosuchus,niger,Alligatoridae,Reptilia,Chordata
396,Carnivora,Aonyx,capensis,Mustelidae,Mammalia,Chordata
397,Carcharhiniformes,Carcharhinus,amblyrhynchos,Carcharhinidae,Chondrichthyes,Chordata
398,Apodiformes,Lophornis,chalybeus,Trochilidae,Aves,Chordata
399,Cyprinodontiformes,Zoogoneticus,tequila,Goodeidae,Actinopterygii,Chordata

In [79]:
#shuffling the dataset and returning all (100%) of the rows but shuffled 
dataset= dataset.sample(frac=1)
dataset

,order,genus,species,family,class,phylum
183,Primates,Cercopithecus,mona,Cercopithecidae,Mammalia,Chordata
306,Squamata,Cyclura,lewisi,Iguanidae,Reptilia,Chordata
48,Testudines,Mauremys,reevesii,Geoemydidae,Reptilia,Chordata
118,Scleractinia,Pseudodiploria,clivosa,Faviidae,Anthozoa,Cnidaria
53,Scleractinia,Pavona,decussata,Agariciidae,Anthozoa,Cnidaria
...,...,...,...,...,...,...
51,Passeriformes,Certhidea,olivacea,Thraupidae,Aves,Chordata
45,Scleractinia,Galaxea,astreata,Euphylliidae,Anthozoa,Cnidaria
115,Coleoptera,Ceruchus,chrysomelinus,Lucanidae,Insecta,Arthropoda
95,Squamata,Anolis,bitectus,Dactyloidae,Reptilia,Chordata
185,Hymenoptera,Harpagoxenus,canadensis,Formicidae,Insecta,Arthropoda

In [80]:
#renumbering the row indices
dataset.reset_index(drop=True, inplace=True)
dataset

,order,genus,species,family,class,phylum
0,Primates,Cercopithecus,mona,Cercopithecidae,Mammalia,Chordata
1,Squamata,Cyclura,lewisi,Iguanidae,Reptilia,Chordata
2,Testudines,Mauremys,reevesii,Geoemydidae,Reptilia,Chordata
3,Scleractinia,Pseudodiploria,clivosa,Faviidae,Anthozoa,Cnidaria
4,Scleractinia,Pavona,decussata,Agariciidae,Anthozoa,Cnidaria
...,...,...,...,...,...,...
395,Passeriformes,Certhidea,olivacea,Thraupidae,Aves,Chordata
396,Scleractinia,Galaxea,astreata,Euphylliidae,Anthozoa,Cnidaria
397,Coleoptera,Ceruchus,chrysomelinus,Lucanidae,Insecta,Arthropoda
398,Squamata,Anolis,bitectus,Dactyloidae,Reptilia,Chordata
399,Hymenoptera,Harpagoxenus,canadensis,Formicidae,Insecta,Arthropoda

In [81]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [82]:
# Apply Label Encoding to all categorical columns
label_encoder = LabelEncoder()

In [83]:
 #Identifying columns that need encoding
categorical_columns = ['family', 'order', 'genus', 'species','class',]

In [84]:
# Encoding each categorical column
for column in categorical_columns:
    dataset[column] = label_encoder.fit_transform(dataset[column])

In [85]:
dataset

     order  genus  species  family  class      phylum
0       61     67      237      38     13    Chordata
1       75     86      200      99     14    Chordata
2       81    176      305      84     14    Chordata
3       68    247       83      78      2    Cnidaria
4       68    221      106       4      2    Cnidaria
..     ...    ...      ...     ...    ...         ...
395     52     68      265     186      4    Chordata
396     68    119       28      76      2    Cnidaria
397     22     69       79     109     11  Arthropoda
398     75     20       46      60     14    Chordata
399     37    132       61      79     11  Arthropoda

[400 rows x 6 columns]

In [86]:
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn import model_selection

In [87]:
array = dataset.values
X = array[:, 0:5]
Y = array[:, 5]
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation =model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

In [88]:
seed = 42
scoring = 'accuracy'

In [89]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [90]:
models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
# print(models)
# evaluate each model in turn
results = []
names = []
for name, model in models:
        kfold = model_selection.KFold(n_splits=10, random_state=None)
        cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring=scoring)
        results.append(cv_results)
        names.append(name)
        msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
        print(msg)

C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Simeon\anaconda3\ANACONDA\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LR: 0.850000 (0.050000)
LDA: 0.846875 (0.051254)
KNN: 0.800000 (0.052663)
CART: 0.953125 (0.046875)
NB: 0.887500 (0.028641)
SVM: 0.818750 (0.053765)